.lang_container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.lang_dot {
    width: 12px;
    max-width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 6px;
}